*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	margin-top: 32px !important;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}

body{
	margin: 0;
	overflow-x: hidden;
	position: relative;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "Arial", sans-serif;
}

#statsFps div{
	top: 35px !important;
}

#adminbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	z-index: 99999;
	background: #23282d;
	text-align: center;
	line-height: 32px;
	text-transform: uppercase;
	color: #fff;
}

.row{
	width: 100%;
	position: relative;
	margin: 0 0 80px;
}
	
.row:last-child{
	margin-bottom: 10px;
}
	
.row_outer_parent{
	padding: .1px 0;
	z-index: 2;
}
.row_outer{
	width: 100%;
	position: relative;
}
.row_inner{
	width: 90%;
	max-width: 1360px;
	padding: 0 20px;
	margin: 0 auto;
}

.row_margin {
	margin: 0 -1.47%;
	position: relative;
}

.column{
	margin: 0 1.4%;
	position: relative;
	float: left;
	min-height: 1px;
}

.column_inner{
	width: 100%;
	position: relative;
	min-height: 1px;
}

.column_sticky{
	position: relative;
	top: 0;
	transition: top .3s ease,
				transform .3s ease, 
				margin-top .3s ease;
	display: block;
	border: 1px solid #00f;
	background-color: #ccc;
}

.column_sticky::after{
	content: "Sticky";
	font-size: 75px;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	color: #f00;
	text-align: center;
	position: absolute;
	top: 50%;
	overflow:  hidden;
	transform: translate(0, -50%);
}

.one_fourth{
	width: 22.2%;
}

.one_half {
	width: 47.2%;
}

.diff{
	border: 2px solid #f00;
}

#header{
	position: fixed;
	width: 100%;
	z-index: 5;
	width: 100%;
	background-color: #ccc;
	height: 85px;
	text-align: center;
	border-bottom: 1px solid #000;
}

#middle{
	padding: 85px 0 0;
}

.middle_inner{
	padding: 30px 0;
}

#bottom:after,
#middle:after,
#page:after,
.bottom_bg:after,
.column_inner:after,
.row_inner:after,
.row_margin:after,
.content_wrap:after,
.middle_content:after,
.middle_inner:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden
}

@media only screen and (max-width: 1024px) {
	.column {
		width: 95.2%;
		margin-bottom: 20px;
	}

	.column:last-child {
		margin-bottom: 0;
	}
}